<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- Enable this config if you are using unicorn (4.0) -->
    <unicorn>
      <configurations>
        <configuration name="Foundation.CustomRules" dependencies="Foundation.Serialization">
          <!-- Dependent on project that creates node: /sitecore/templates/Foundation -->
            <targetDataStore physicalRootPath="$(sourceFolder)\Feature\AnalyticsCustomRules\serialization"  type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
            <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
<include name="Feature.AnalyticsCustomRules.Taxonomies" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Channel Rules" />
<include name="Feature.AnalyticsCustomRules.Templates" database="master" path="/sitecore/templates/Foundation/ChannelRules" />
<include name="Feature.AnalyticsCustomRules.Rules" database="master" path="/sitecore/system/Settings/Rules/Channels" />
<include name="Feature.AnalyticsCustomRules.Tags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Channels" />
<include name="Feature.AnalyticsCustomRules.Definitions" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Channels" />
            </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>